{% extends "header.html" %}
{% block content %}
<body>
	<center>
		<form name="form" method="POST" align="center" action="{% url 'forgot_password' %}">
			{% csrf_token %}
			<table align="center">
				<h1>Forgot password</h1>

				{% if msg %}

					<tr>
						<td colspan="2">
							<div class="alert alert-{{class}}">{{msg}}</div>
						</td>
					</tr>

				{% endif %}
	
					<td>Email :</td>
					<td><input type="text" name="email" required=""></td>
				</tr>
				<tr>
					<td colspan="2" ><input type="submit" name="submit" value="Send OTP" class="btn btn-primary"></td>
				</tr>
			</table>
		</form>
		
	</center>
</body>
{% endblock %}